.App {
  text-align: center;
  margin: 20px;
  box-sizing: border-box;
  font-size: 1.25rem;

  .flex {
    display: flex;
  }

  .flex-col {
    flex-direction: column;
  }

  .flex-1 {
    flex: 1;
  }

  .align-items-center {
    align-items: center;
  }

  .align-self-baseline {
    align-self: baseline;
  }

  .justify-content-center {
    justify-content: center;
  }

  .text-align-left {
    text-align: left;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .wide-100 {
    width: 100%;
  }

  .flex-item {
    flex: 1;
    margin: 10px 0;
    word-break: break-word;
    padding: 10px;
  }

  .p-10 {
    padding: 10px;
  }

  button {
    padding: 5px;
    margin: 5px;
    height: 40px;
    cursor: pointer;
    text-align: center;
    min-width: 100px;
    font-weight: bold;
  }

  textarea {
    resize: none;
  }

  label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px;
    color: #343a40;
    font-weight: bold;
  }

  textarea,
  input {
    font-size: 1.25rem;
    font-weight: 500;
    color: #343a40;
    border: none;
    border-radius: 0.25rem;
    box-shadow: 0 0 0 1px #aaa;
  }

  .error {
    color: #db3a3a;
    font-weight: bold;
    font-size: 1.625rem;
    display: block;
  }

  .readonly {
    background: #343a40;
    color: white;
    margin: 20px 0;
    width: 100%;
    min-height: 130px;
    overflow-y: auto;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
  }

  .hide {
    display: none;
  }

  .copy,
  .view-encryption-key {
    border: none;
    min-width: auto;
    font-size: 1rem;
    height: 2rem;
    color: #fff;
    font-weight: bold;
  }

  .copy {
    background: #ffe066;
    color: #000;

  }

  .view-encryption-key {
    background: #ffe066;
    color: #000;
  }

  .generate-crypto-key,
  .data-to-bytes {
    padding: 20px;
    width: 50%;
  }

  .encrypt,
  .decrypt {
    background: none;
    border: none;
    padding: 5px;
    margin: 5px;
    font-weight: bold;
    width: 140px;
    font-size: 1.25rem;


    &.active {
      border-bottom: 3px solid #1971c2;
    }
  }

  .switch-view {
    align-self: flex-start;
  }

  .encrypt-btn,
  .decrypt-btn {
    background: #1971c2;
    color: white;
    border: none;
    font-size: 1.25rem;
  }

  .encrypted-data {
    word-break: break-word;
  }

  .decrypt-text {
    font-size: 2.85rem;
    font-weight: bold;
    color: #1971c2
  }

  .gen-crypto-key {
    background-color: #d6336c;
    border: none;
    color: #fff;
    font-size: 1.25rem;
  }

  #extractable {
    width: 1.2rem;
    height: 1.2rem;
  }
}